
<div class="container-fluid">
	<div class="card card-container">
		<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
		<img id="profile-img" class="profile-img-card" src="https://static1.squarespace.com/static/56fc0217c6fc08b6658f06d4/t/570d664e01dbaea7589203d3/1460495969254/Namaste_Hands.jpg" />
		<p id="profile-name" class="profile-name-card"></p>
		<form class="form-signin">
			<span id="reauth-email" class="reauth-email"></span>
			<input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email address" required autofocus>
			<input type="password" id="inputPassword" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Password" required>
			<div id="remember" class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin"  (click)="loginfunction()" type="submit">Sign in</button>
		</form><!-- /form -->
		<a  [routerLink]="['/login-control/signup']" class="forgot-password">
		new user please signup!
		</a>
	</div><!-- /card-container -->
</div>