<div class="container-fluid lakshya">
		<div class="lakshyahead"> <h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4><br></h4><h4> <br></h4></div>
			<div class="row">
						<div class="col-lg-3"  *ngFor="let item of modellist | paginate: { itemsPerPage: 4, currentPage: p }">
						 <app-detail-list *ngIf="item" [Data]="item"></app-detail-list>
						 </div>
			 </div>
		 <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
