.lakshya {
  font-family: 'Montserrat', sans-serif;
  
}
.lakshya > .lakshyahead{
  padding-top: 130px;
  position: relative;
  text-align: center;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;   
  font-size: 60px;
  line-height: 42px;
  text-transform: uppercase;
  
  text-shadow: 0 5px white, 0 3px #777;
}
pagination-controls{
  padding:30px;
  font-size: 20px;
 text-align: center;
 position: relative;
}
pagination-controls li{
color: white;
}
