<router-outlet></router-outlet>
<hr>
<footer class=" colour container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>The Weather Channel © 2017, All Rights Reserved
                <br>
                <span>Web Design By: Lakshya Mathur</span></p>
            <p><a href="https://www.linkedin.com" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
            <p><a href="https://www.facebook.com" target="_blank">Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i> </a></p>
        </div>
</footer>



